.form-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.form-modal--display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 40%;
  min-height: 50%;
  max-width: 650px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--spacing-medium);
  background-color: var(--color-background-light);
  padding: var(--spacing-large);
  border-radius: var(--border-radius-small);
}

.form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-small);
}
.form__group--symptoms {
  height: auto;
  display: flex;
  flex-direction: column;
}

.form__group--symptoms-fieldset {
  display: flex;
  flex-direction: column;
}

.symptoms-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-small);
  padding: var(--spacing-small);
}

.symptoms-grid__item {
  display: flex;
  gap: var(--spacing-x-small);
  justify-content: center;
  align-items: center;
}

.form__administration--radios {
  display: flex;
  flex-direction: column;
}

.form__administration--radios div {
  display: flex;
  gap: var(--spacing-small);
  text-align: center;
}

.form__administration-container {
  display: none;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-small);
  width: 100%;
}

.form input {
  min-height: 24px;
  padding-left: var(--spacing-small);
  border-radius: var(--border-radius-small);
}

.administration--ingestion {
  display: none;
}
.administration--injection-topical {
  display: none;
}

.form__validation-message {
  color: var(--text-color-error);
}

.form__tools-container {
  display: flex;

  width: 100%;
  justify-content: center;
  align-self: end;
  gap: var(--spacing-medium);
  margin-bottom: 0;
}

.form__tools-container button {
  height: 32px;
  padding: var(--spacing-small);
}

.form__tools-container button:hover {
  box-shadow: var(--box-shadow-base);
}

@media screen and (max-width: 1000px) {
  .form {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 90%;
  }
}
