header {
  width: 100%;

  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-large);
  background-color: var(--color-background-light);
  gap: var(--spacing-large);
}

.header__icon-container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__heading-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__heading-container h1 {
  font-size: var(--font-size-large);
}

/* .add-button-container {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: end;
  align-items: center;
} */
