body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--color-background-dark);
}

main {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--color-background-medium);
  padding: var(--spacing-large);
}

.add-button-container {
  position: absolute;
  width: 48px;
  height: 48px;
  right: var(--spacing-large);
  bottom: var(--spacing-large);
  margin-top: var(--spacing-large);
  z-index: 1000;
}

.add-medicine-button {
  font-size: 48px;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  main {
    padding: var(--spacing-x-large) var(--spacing-x-small);
  }
  .add-button-container {
    top: -24px;
    width: 32px;
    height: 32px;
  }
  .add-medicine-button {
    font-size: 32px;
  }
}
@media screen and (max-width: 500px) {
  main {
    padding: var(--spacing-x-large) var(--spacing-x-small);
  }
}
